.container1 {
 
  padding: 12rem 6rem;
   margin-right: 150px;
}

  .swiperSlide {
    width: 20rem !important;
    height: 28rem !important;
    
  }

.swiperContainer {
  height: 40rem;
  padding: 4rem 0;
  position: relative; 
}


@media (max-width: 800px) {
    
.container1 {
 
    padding: 2rem 2rem;
    margin: 0 auto;
  }
  .swiperContainer {
    height: 32rem;

  }
  .swiperSlide {
    width: 20rem !important;
    height: 28rem !important;
    position: relative;   
  }
  .swiperSlide img {
    width: 20rem !important;
    height: 22rem !important;
  
  }
}

.swiperSlide img {
  width: 26rem;
  height: 32rem;

  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.sliderControler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
}

.sliderControler .swiperButtonNext {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
  .sliderControler .swiperButtonNext {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .sliderControler .swiperButtonNext {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .sliderControler .swiperButtonPrev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .sliderControler .swiperButtonPrev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.sliderControler .sliderArrow {

  width: 2.5rem;
  height: 1rem;

  left: 42%;
top:15%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(134, 152, 197, 0.1));
}


.sliderControler .sliderArrow::after {
  content: '';
}


.swiperPagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiperPagination .swiper-pagination-bullet-active {
  background: var(--primary);
}