
.h-wrapper{
  background: white;
  background: linear-gradient(#fbf3ef, #fbf3ef);    

        content: "";
  
        
}
.h-container{
    justify-content: flex-start;

    color: white;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 900px;
  
    
}
.h-container button{
    justify-content: flex-start;
       background-color: #713A3A;
    color: white;
    border: none;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 900px;
  
    
}
.h-container:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:95%;
    height: 55%;
    background: #713A3A;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    transform: scale(1.9);
    z-index: 8;
}

.h-container img{
    z-index: 9;  
    margin-right: 20%; 
    padding-right: 5%;
    margin-bottom: 5%;
}
.h-menu{
    gap: 2rem;
    z-index: 9;
    margin-bottom: 5%; 
}

.h-menu>*:hover{
    cursor: pointer;
    z-index: 9;
}
.flexCenter1 {
    display: flex;
  }

@media(max-width:675px)
{
    .h-menu{
        display: grid;
        position: absolute;
        color: #713A3A;
        width: 70%;
        background: white;
        bottom: -250px;
        transition: all 0.5s ease;
    
    
        margin-left: 15%;
        left: 0;
        transform: translateY(-100%);
     
    }  
    .MenuItem{
        color: #713A3A;
        padding-left: 35px;

    }
    .MenuItem:hover{
        background-color: #c3b2aa;

    }
    .toggler{
        
    display: grid !important;
    padding-left: 45%;

}
.check:not(:checked) ~ .h-menu {
    opacity: 0;
  }
}
.toggler{
    display: none;
    height: min-content;
    margin: 18px -10px 0 0 ;
    cursor: pointer;
    z-index: 9;
    transition: .6s;
}
.check {
    display: none;
    z-index: 9;
    color: #000;
  
}

.check:checked ~ .h-menu{
    transform:translateY(0);
    
 
    

} 
 .check:checked ~ .toggler{
    transform: rotateY(90deg);
    transform: rotateX(45deg);
}
.check:checked ~ a:hover{
    background-color: #c3b2aa;

}
.check:checked ~ .h-menu a{
    background: white;
}


