.inputField {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
  }
  
  .inputField .icon {
    text-align: center;
    line-height: 55px;
    margin: auto;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
  }
  
  .inputField input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
  }
  
  .inputField input::placeholder {
    color: #aaa;
    font-weight: 500;
  }